<h3>How to use this tool:</h3>
<MudText>It is important to note that no one indicator can definitively identify a phishing email, and a combination of these indicators should be used to make an informed decision.</MudText>
<MudText>Need help? Visit the <MudLink Href="/help">Help Page</MudLink></MudText>


@code {

}
