
<MudText>
    The link inspector shows you all of the links in the email body.
    <ol>
        <li># of links</li>
        <li># of domains</li>
        <li># of shortened links</li>
        <li># of links containing anchors</li>
    </ol>

    Each of the domains are listed in as clickable <MudChip>chips</MudChip>. Click on them to verify they are what you think, and send them off to VirusTotal to be scanned.
</MudText>


