@using MudBlazor
@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Help" Class="mr-3 mb-n1"/>
            Urgency Inspector - Help
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>
            The urgency inspector <span class="pa-1 mud-elevation-2 mud-theme-info">highlights</span> common words from the email body associated with phishing emails.
            There are 5 tabs: urgency, threat, reward, misspelling and all of them combined.
            Click on each on the other tabs to view the categories of words individually.
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Close">Close</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));

}
