<MudText>
    The urgency inspector <span class="pa-1 mud-elevation-2 mud-theme-info">highlights</span> common words from the email body associated with phishing emails.
    There are 5 tabs: urgency, threat, reward, misspelling and all of them combined.
    Click on each on the other tabs to view the categories of words individually.
</MudText>

